*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
	min-height: 100%;

}
body{
	background-color: #121212;
	color: #fff;
	font-family: 'Helvetica';
}
.the-center{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 50%;
  height: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: normal;   

}


/*Typed.js*/
.element{
	font-size: 32px;
}
.typed-cursor{
	font-size: 32px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}